[Desktop Entry]
Name=Remap Keys
Exec=sh /home/boop/dotfiles/autostart/remap_keys.sh
Terminal=false
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Type=Application

